@use '../helpers/functions' as *;
@use '../helpers/media' as *;

.page__card {
    max-width: 100%;

    background-color: var(--White);

    margin-bottom: auto;

    @include desktop {
        margin-bottom: 0px;
    }
}