* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
}

svg {
    max-height: 100%;
    max-width: 100%;
}