@use '../helpers/functions' as *;
@use '../helpers/media' as *;

.share-section {
    display: none;

    position: absolute;

    overflow: hidden;

    background-color: transparent;

    z-index: 1;

    & * {
        z-index: 3;
    }

    @include mobile {
        top: rem(-4px);
        left: rem(-32px);

        width: calc(100% + rem(64px));
        height: calc(100% + rem(24px));
    }

    @include desktop {
        width: rem(248px);
        height: rem(66px);
        right: rem(-108px);
        bottom: rem(52px);

        clip-path: path("M 12 0 L 236 0 C 248 0 248 0 248 8 L 248 47 C 248 55 248 55 236 55 L 136 55 L 124 66 " + "L 112 55 L 12 55 C 0 55 0 55 0 47 L 0 8 C 0 0 0 0 12 0");
    }

    @include motionProperties {
        &::before {
            content: '';
            z-index: 2;
            background-color: var(--VeryDarkGrayishBlue);
            position: absolute;
            width: 100%;
            height: 100%;

            left: 0px;
            top: 0px;

            --Size: 0;
            --Point: center center;

            clip-path: circle(var(--Size) at var(--Point));
        }
    }
}

.share-section.is-active {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-inline: rem(32px) rem(32px);

    @include motionProperties {
        & * {
            animation: appear-animation 0.5s;
            animation-delay: 0.2s;
            animation-fill-mode: both;
        }
    }

    @include desktop {
        justify-content: center;

        padding-bottom: rem(11px);
    }
}

.share-section.appearing-animation {
    @include reduceMotionProperties {
        background-color: var(--VeryDarkGrayishBlue);
    }

    @include motionProperties {
        &::before {
            transition: 0.8s;
            --Size: 500px;
        }
    }
}

@keyframes appear-animation {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}